// В этом файле должны быть стили для БЭМ-блока home-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.home-card {

  $block-name:                &; // #{$block-name}__element

  // max-width: 400px;
  display: flex;
  width: 100%;
  @media (max-width: ($screen-lg - 1)) {
    flex-direction: column;
  }

  &__header {
    overflow: hidden;
    text-align: center;
    background: #e9a122;
    padding: 10px 60px;
    flex-shrink: 0;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
  }
  &__cost {
    text-transform: uppercase;
  }
  &__body {
    background: rgba(60, 35, 19, 0.9);
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    .options-list {
      color: #fff;
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      @media (max-width: ($screen-md - 1)) {
        flex-direction: column;
      }
    }
    .options-list__item {
      margin-bottom: 0;
      font-weight: 400;
      @media (max-width: ($screen-md - 1)) {
        padding: 10px 0;
      }
    }
    .option-list__icon {
      fill: #fff;
      margin-right: 10px;
    }
  }

}
