// В этом файле должны быть стили для БЭМ-блока page-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-section {

  $block-name:                &; // #{$block-name}__element
  border-top: 1px solid #f3e5dc;
  padding-bottom: 3em;

  &__inner {
    @include container;
  }

  &__header {
    padding-bottom: 1em;
    &--action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: ($menu-desktop-width - 1)) {
        flex-direction: column;
      }
    }
  }

  &__title {
    font-family: 'RodchenkoCondC';
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
  }

}
