// В этом файле должны быть стили для БЭМ-блока form-feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-feedback {

  $block-name:                &; // #{$block-name}__element

  // max-width: 910px;
  @include row;

  &__field {
    @include col();
    @include col(md, 3);
    margin-top: 0;
  }

  .field-text__name {
    color: #cfaa93;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
  }

  .field-text__help-text {
    color: #cfaa93;
    text-align: left;
  }

  .field-text__input {
    background: transparent;
  }

  p {
    margin-top: 25px;
  }

  @media (max-width: ($screen-md - 1)) {
    .fields-group {
      max-width: 450px;
      margin: auto;
    }
  }

}
