// В этом файле должны быть стили для БЭМ-блока form-feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-feedback {

  $block-name:                &; // #{$block-name}__element

  max-width: 710px;
  margin: auto;

}
