// В этом файле должны быть стили для БЭМ-блока info-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info-list {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__card {
    @include make-col(4);
    margin-bottom: 20px;
  }
  &__card-image {
    position: relative;
  }
  &__card-link {
    color: $link-color;

    &:hover,
    &:focus {
      color: $link-color--hover;
      #{$block-name}__card-image {
        &:before {
          content: "Подробнее";
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(60, 35, 19, 0.9);
        }
      }
    }
  }

}
