// В этом файле должны быть стили для БЭМ-блока copyrights, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.copyrights {

  $block-name:                &; // #{$block-name}__element
  background: #f3e5dc;
  padding: 1em 0;
  text-align: right;

  &__inner {
    @include container;
  }

  @media (max-width: ($screen-md - 1)) {
    text-align: center;
  }

}
